


.header {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1200px;
  height: 5027px;
  z-index: 301;

}
.minimø {
  font-size: 30px;
  font-family: "Inconsolata";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 0.8;
  text-align: center;
  position: absolute;
  left: -41.207px;
  top: 89.28px;
  width: 119px;
  height: 23px;
  z-index: 300;
}
.lifestyle {
  font-size: 14px;
  font-family: "Playfair Display";
  color: rgb(98, 98, 98);
  text-transform: uppercase;
  line-height: 1.714;
  text-align: center;
  position: absolute;
  left: 536.798px;
  top: 99.106px;
  width: 71px;
  height: 11px;
  z-index: 299;
}
.photodiary {
  font-size: 14px;
  font-family: "Playfair Display";
  color: rgb(98, 98, 98);
  text-transform: uppercase;
  line-height: 1.714;
  text-align: center;
  position: absolute;
  left: 737.2px;
  top: 99.106px;
  width: 88px;
  height: 11px;
  z-index: 298;
}
.travel {
  font-size: 14px;
  font-family: "Playfair Display";
  color: rgb(98, 98, 98);
  text-transform: uppercase;
  line-height: 1.714;
  text-align: center;
  position: absolute;
  left: 1048.316px;
  top: 99.106px;
  width: 52px;
  height: 11px;
  z-index: 297;
}
.music {
  font-size: 14px;
  font-family: "Playfair Display";
  color: rgb(98, 98, 98);
  text-transform: uppercase;
  line-height: 1.714;
  text-align: center;
  position: absolute;
  left: 907.212px;
  top: 99.106px;
  width: 43px;
  height: 11px;
  z-index: 296;
}


